.div1 {
  height: 30px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.animated-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;

}

.line {
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-family: sans-serif;
}

.line:first-child {
  animation: anim 2s infinite;
}

@keyframes anim {
  50% {
    margin-top: -30px;
  }

  100% {
    margin-top: -60px;
  }
}

.toptext {
  position: relative;
  cursor: pointer;
}

.toptext::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: black;
  transition: width 0.2s ease-in-out;
}

.toptext:hover::after {
  width: 100%;
}


@media (max-width: 768px) {
  .line {
    font-size: 12px;
  }

  .animated-text {
    padding: 10px 15px;
    font-size: 12px;
  }
}